/* GENERAL */
:root {
  --color--gray: #9b9a94;
  --color--dark-brown: #978782;
  --color--brown: #e0cbc4;
  --color--light-brown: #ebe4de;
  --color--black: #131310;
  --color--white--faint: rgba(255, 255, 255, 50%);
  --color--white: #ffffff;

}

body {
  padding: 0;
  margin: 0;
  font-family: "Khula", sans-serif;
  font-weight: 400;
  background-color: var(--color--light-brown);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
}



body > h1 {
  font-weight: 1000;
  font-size: 32px;
}

/* || HEADER */
.header {
  background-color: var(--color--brown);
  color: var(--color--black);
  padding: 8px 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > h1 {
  font-weight: 1000;
  font-size: 32px;
}

#newbook {
  align-self: flex-start;
  padding: 0.5rem 2rem;
  background-color: var(--color--gray);
  color: var(--color--light-brown);
  font-weight: 600;
  font-size: 15px;
  border-radius: 12px;
  border: 2px var(--color--light-brown) solid;
}

#newbook:hover {
  background-color: var(--color--dark-brown);
}

/* || FOOTER */
.footer {
  background-color: var(--color--brown);
  color: var(--color--black);
  padding: 20px 30px;
  display: flex;
  justify-content: center;
}

/* || CONTENT */
.content {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  flex-grow: 1;
  gap: 20px;
  padding: 10px 30px;
}



/* || booklist */
.bookcard,
.booklist-header {
  display: grid;
  grid-template-columns: minmax(10%, 3fr) minmax(5%, 2fr) 1fr 1fr 1fr;
  gap: 20px;
}

.booklist-header {
  font-weight: 700;
}

.centered {
  justify-self: center;
}

.right-align {
  justify-self: end;
}

.entry-buttons {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}

.entry-buttons button {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0px;
  flex-grow: 1;

  min-height: 2rem;;
  min-width: 2rem;
  max-height: 2rem;
  max-width: 3rem;
  padding: 1px 1px;

  background-color: var(--color--white--faint);
  border-radius: 0.8rem;
  aspect-ratio: 1;
  border-color: rgba(255, 255, 255, 50%);
}

/* || FORM */
#newbookform {
  visibility: visible;
  opacity: 1;
  transition: 0.1s linear all;
  margin-top: -30px;


  position: absolute;
  z-index: 10;
  background-color: var(--color--white);
  padding: 10px;
  align-self: end;
}

#newbookform::before {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    background-color: var(--color--white);
    padding: 5px;
    z-index: 0;
    left: 70%;
    top: -5px;
  }

#newbookform.hidden {
  visibility: hidden;
  opacity: 0;
  transition: 0.1s linear all;
}
